body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #379683;
}
header{
    font-family: 'Rubik Dirt', cursive;
    text-align: center;
    background: white;
}
.list{
    display: inline;
    align-items: stretch;
}
.list-item{
    
    display: inline-block;
    padding: 10px 20px;
    align-items: stretch;
    text-decoration: none;

}
.navbar{
    background: #05386B;
}
.text{
    color: white;
    text-decoration: none;
    font-size: medium;
}
.quiz{
    text-align: center;
    padding: 30px 0 10px 0;
}
.ans{
    list-style-type: none;
    padding:10px;
  background:#f7f7f7;
  margin-bottom:5px;
  cursor: pointer;
  
}
.ans:hover{
    background: #eee;
}
#restart {
    background-color: #05386B;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  